<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>App</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="/css/paper.css" rel="stylesheet" type="text/css">
  <link
    href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'
    rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="head">
    <div class="headerobjectswrapper">
      <header>Português diário</header>
    </div>

    <div class="subhead"></div>
  </div>
  {{{body}}}
  <div class="subhead">
      Created by <a href="https://github.com/bevilaquabruno">Bevilaqua</a> and <a href="https://github.com/DTechio" target="_blank">Tecchio</a>
      <br />
      Style by <a href="https://silkevoigts.de/" target="_blank">Silke Voigts</a>
  </div>
</body>

</html>