<div>
  <div class="content">
    <div class="collumns">
      <div class="collumn">
        <div style="text-align: center">
          <img src="https://placehold.co/200x600" alt="">
        </div>
      </div>
      <div class="collumn">
        <input type="hidden" name="tip_id" id="tip_id" value="{{ id }}">
        <div class="head"><span class="headline hl3">Dica do dia:</span>
          <p><span class="headline hl4"><span id="likes">{{ likes }}</span> likes</span></p>
        </div>
        <div class="tip-text">
          {{{ description }}}
        </div>
        <div class="tip-buttons">
          <button class="button-pattern" onclick="rate(true);">Like</button>
          <button class="button-pattern" onclick="rate(false);">Dislike</button>
        </div>
      </div>
      <div class="collumn">
        <div style="text-align: center">
          <img src="https://placehold.co/200x600" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function rate(liked) {
    if(0 == document.getElementById('tip_id').value)
      return;
    // Cria a variável para a url baseado na ação do usuário
    let endpoint = liked ? 'like' : 'dislike';

    // se ele ainda não avaliou, então avalia, se ele já avaliou, nem cai dentro do if
    if (localStorage.getItem('ratedIn') != new Date().toLocaleDateString()) {
      // faz a requisição get em api/tips/like para dar like e api/tips/dislike para dar dislike, passando o id
      axios.get('/api/tips/' + endpoint + '/' + {{ id }}).then(function (response) {
        //seta que já foi avaliado
        localStorage.setItem('ratedIn', new Date().toLocaleDateString());
        //aumenta na tela o like ou o dislike
        let likeDiv = document.getElementById('likes');
        if (liked)
          likeDiv.innerHTML = parseInt(likeDiv.innerHTML) + 1;
        else
          likeDiv.innerHTML = parseInt(likeDiv.innerHTML) - 1;
      });
    }
  }
</script>